extends /node_modules/bfx-report/workers/loc.api/generate-report-file/pdf-writer/templates/base.pug

block content
  - const data = Array.isArray(apiData) ? apiData[0] : apiData ?? {}

  ul.responsive-table
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.timestamps
        .col #{columnVal}
    li.table-row
      each columnVal, columnKey in jobData.columnsCsv.timestamps
        .col #{data.timestamps[columnKey]}

  h3.content-title.left-text.table-title
    :translate(prop='template.startingPositionsSnapshot')
      Starting positions snapshot

  ul.responsive-table.sm
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.positionsSnapshot
        .col #{columnVal}
    each dataItem, dataIndex in data.startingPositionsSnapshot
      li.table-row
        each columnVal, columnKey in jobData.columnsCsv.positionsSnapshot
          .col #{dataItem[columnKey]}

  h3.content-title.left-text.table-title
    :translate(prop='template.endingPositionsSnapshot')
      Ending positions snapshot

  ul.responsive-table.sm
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.positionsSnapshot
        .col #{columnVal}
    each dataItem, dataIndex in data.endingPositionsSnapshot
      li.table-row
        each columnVal, columnKey in jobData.columnsCsv.positionsSnapshot
          .col #{dataItem[columnKey]}

  h3.content-title.uppercase-text
    :translate(prop='template.finalState')
      Final state

  h3.content-title.left-text.table-title
    :translate(prop='template.startingPeriodBalances')
      Starting period balances

  ul.responsive-table
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.periodBalances
        .col #{columnVal}
    li.table-row
      each columnVal, columnKey in jobData.columnsCsv.periodBalances
        .col #{data.finalState.startingPeriodBalances[columnKey]}

  h3.content-title.left-text.table-title
    :translate(prop='template.movementsDetails')
      Movements details

  ul.responsive-table.sm.no-margin-bottom
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.movements
        .col #{columnVal}
    each dataItem, dataIndex in data.finalState.movements
      li.table-row
        each columnVal, columnKey in jobData.columnsCsv.movements
          .col #{dataItem[columnKey]}

  ul.responsive-table.sm.width-by-content
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.movementsTotalAmount
        .col #{columnVal}
    li.table-row
      each columnVal, columnKey in jobData.columnsCsv.movementsTotalAmount
        .col #{data.finalState[columnKey]}

  h3.content-title.left-text.table-title
    :translate(prop='template.endingPeriodBalances')
      Ending period balances

  ul.responsive-table.no-margin-bottom
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.periodBalances
        .col #{columnVal}
    li.table-row
      each columnVal, columnKey in jobData.columnsCsv.periodBalances
        .col #{data.finalState.endingPeriodBalances[columnKey]}

  ul.responsive-table.width-by-content
    li.table-header
      each columnVal, columnKey in jobData.columnsCsv.totalResult
        .col #{columnVal}
    li.table-row
      each columnVal, columnKey in jobData.columnsCsv.totalResult
        .col #{data.finalState[columnKey]}
